/* Adding fixed postion to the bottom for our footer at desktop size */
.custom-footer .notification {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Adding sticky postion at tablet and below */
@media screen and (max-width: 768px) {
    .custom-footer {
        position: sticky;
    }
}

/* form container margins */
.formcontainer {
    margin: 10% 20% 20%;
}

.hideBlock {
    display: none;
}

.custom-container {
    width: fit-content;
    margin: auto;
}

.custom-main {
    height: calc(100vh - 60px);
}
