/* Adding fixed postion to the bottom for our footer */
.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* form container margins */
.formcontainer {
    margin: 10% 20% 20%;
}

